* {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
}
html{
	scroll-behavior: smooth;
}
body {
	background: #2f2e2ee0;
	color: #fff;
}

#header {
	
	width: 100%;
	height: 100vh;
	background-image: url(images/1.png);
	background-size: cover;
	background-position: center;
}

.container {
	padding: 10px 10%;
}
#nav-container{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(17, 133, 154, 0.823);
	padding:10px 20px;
}
#nav-container nav{
	padding-right: 10px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo {
	width: 100px;
	border-radius:50%;
}
nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}
nav i{
font-size:30px; padding-right:40px;
}
nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0;
	height: 5px;
	background: #e73131;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after {
	width: 100%;
}

.heade_text {
	background: rgba(76, 127, 246, 0.627);
	margin-top: 25%;
	font-size: 30px;
	padding:5px 20px;
	border-radius: 10px;
}

.heade_text h1 {
	margin-top: 20px;
	font-size: 60px;
}

.heade_text h1 span {
	color: red;
}
.name{
	text-shadow:4px 0px 1px #fff, 6px 0px 1px black, 8px 0px 1px blue;
	/* ------ +x==> to the right, +y==> to the bottom,blury,color--- */
}
.ethiopia{
	font-style:italic;
	text-shadow:-6px 0px 1px yellow, -12px 0px 1px green;
}
/* ---------about--------- */
#about {
	padding: 100px 0;
	color: #fefcfccf;
	background-color: #4b484896;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1 {
	flex-basis: 35%;
}

.about-col-1 img {
	width: 100%;
	border-radius: 15px;
}

.about-col-2 {
	flex-basis: 60%;
}

.sub-title {
	font-size: 60px;
	font-weight: 600;
}

.tab-titles {
	display: flex;
	margin: 20px 0 40px;
}

.tab-links {
	margin-right: 25px;
	font-weight: 600px;
	font-size: 30px;
	cursor: pointer;
	position: relative
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: yellow;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0;

}

.tab-contents ul li span {
	color: yellow;
	font-size: 18px;
}

.tab-contents {
	display: none;
}

.tab-contents.active-tab {
	display: block;
}

/* ------------- services -------------- */
#services {
	padding: 100px 0;

}

.srvices-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.srvices-list div {
	background: #0056809c;
	padding: 40px;
	font-size: 18px;
	font-weight: 300px;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;
}

.srvices-list div i {
	font-size: 50px;
	margin-bottom: 30px;
}

.srvices-list div h2 {
	font-size: 30px;
	font-weight: 500px;
	margin-bottom: 30px;
}

.srvices-list div a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}

.srvices-list div:hover {
	background: #007f809c;
	transform: translateY(-10px);
}

/* ----------- portfolio or my work --------- */

#portfolio {
	padding: 100px 0;
}

.work-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
}

.work {
	background: #00fff563;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.work img {
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;

}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), #ff43aa);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}

.layer h3 {
	font-weight: 500;
	margin-bottom: 20px;

}

.layer a {
	margin-top: 20px;
	color: #fff;
	background: black;
	line-height: 40px;
	padding: 0 10px;
	text-decoration: none;

}

.work:hover img {
	transform: scale(1.1);
}

.work:hover .layer {
	height: 100%;
}

.btn {
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid red;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
	transition: background 0.9s;
}

.btn:hover {
	background: #ff15ff;
}

/* ------------- contact ----------------- */

.contact-left {
	padding: 100px 0;
	flex-basis: 35%;

}

.contact-right {
	padding: 100px 0;
	flex-basis: 60%;
}

.contact-left p {
	margin-top: 30px;
}

.social-icons {
	margint-top: 30px;
}

.social-icons a {
	text-decoration: none;
	margin-right: 15px;
	display: inline-block;
}

.btn.btn2 {
	display: inline-block;
	background: #4f4fe2;
}

.contact-right form {
	width: 100%;
}

form input,
form textarea {
	width: 100%;
	border: 0;
	outline: none;
	padding: 15px;
	margin: 15px 0;
	font-size: 18px;
	border-radius: 6px;
}

form .btn2 {
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}

form .btn2 {
	background-color: #4f4fe2;
	color: white;
	outline: none;
}

form .btn2:hover {
	background-color: #22225a;
	color: white;
	outline: none;
}

.fa-brands{
	background:white;
	color:blue;
	font-size:18px;
}
p{
	text-align:none;
}
.copyright {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 15px 0;
	background: rgb(41, 16, 16);
	color: white;
	font-weight: 600;
	font-size: 20px;
	margin-top: 20px;
	
}
.copyright p{
	text-align:center;
}

/* ---------- for menu close and display------ */
nav .fas {
	display: none;
}

/* ------------- css for small screen responsive -------- */
@media only screen and (max-width: 600px) {
	#header {
		background-image: url("images/back.png");
	}
	.logo{
		width:50px;
	}

	.heade_text {
		margin-top: 100%;
		font-size: 16px;
	}

	.heade_text h1 {
		margin-top: 0;
		font-size: 30px;
	}

	/* ---------- for menu close and display------ */
	nav .fas {
		display: block;
		font-size: 25px;
	}

	nav ul {
		background: rgb(34, 124, 227);
		position: fixed;
		top: 0;
		right: -150px;
		width: 150px;
		height: 100vh;
		padding-top: 50px;
		z-index: 10;
		transition: right 0.7s;
	}

	nav ul li {
		display: block;
		margin: 25px;
	}

	nav ul .fas {
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;

	}
	.about-col-1, .about-col-2{
		flex-basis: 100%;
	}
	.about-col-1{
		margin-bottom: 20px;
	}
	.about-col-2{
		font-size: 14px;
	}
	.tab-links{
		font-size: 18px;
		margin-right: 20px;
	}
	.contact-left, .contact-right{
		flex-basis: 100%;
	}
	.contact-right{
		margin-bottom:10%;
	}
}
@media only screen and (max-width: 700px) {
	nav ul li{
		margin: 10px;
	}


}

